<app-header></app-header>


<div class="content" role="main">

    <span class="design">Challenge Start Date (05 OCT 2022)</span>

</div>


<div class="mr-5" style="margin-left:5rem ;">
    <div class="row">
        <div class="col-6">
            <div class="row mb-2">
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day1}">
                    DAY 01
                </span>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day2}">
                    DAY 02
                </span>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day3}">
                    DAY 03
                </span>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day4}">
                    DAY 04
                </span>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day5}">
                    DAY 05
                </span>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day6}">
                    DAY 06
                </span>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day7}">
                    DAY 07
                </span>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day8}">
                    DAY 08
                </span>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day9}">
                    DAY 09
                </span>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day10}">
                    DAY 10
                </span>
            </div>

            <div class="row mb-2">
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day11}">
                    DAY 11
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day12}">
                    DAY 12
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day13}">
                    DAY 13
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day14}">
                    DAY 14
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day15}">
                    DAY 15
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day16}">
                    DAY 16
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day17}">
                    DAY 17
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day18}">
                    DAY 18
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day19}">
                    DAY 19
                </div>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day20}">
                    DAY 20
                </span>
            </div>
            <div class="row mb-2">
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day21}">
                    DAY 21
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day22}">
                    DAY 22
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day23}">
                    DAY 23
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day24}">
                    DAY 24
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day25}">
                    DAY 25
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day26}">
                    DAY 26
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day27}">
                    DAY 27
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day28}">
                    DAY 28
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day29}">
                    DAY 29
                </div>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day30}">
                    DAY 30
                </span>
            </div>

            <div class="row mb-2">
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day31}"> 
                    DAY 31
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day32}">
                    DAY 32
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day33}">
                    DAY 33
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day34}">
                    DAY 34
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day35}">
                    DAY 35
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day36}">
                    DAY 36
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day37}">
                    DAY 37
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day38}">
                    DAY 38
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day39}">
                    DAY 39
                </div>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day40}">
                    DAY 40
                </span>
            </div>

            <div class="row mb-2">
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day41}">
                    DAY 41
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day42}">
                    DAY 42
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day43}">
                    DAY 43
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day44}">
                    DAY 44
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day45}">
                    DAY 45
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day46}">
                    DAY 46
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day47}">
                    DAY 47
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day48}">
                    DAY 48
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day49}">
                    DAY 49
                </div>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day50}">
                    DAY 50
                </span>
            </div>

            <div class="row mb-2">
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day51}">
                    DAY 51
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day52}">
                    DAY 52
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day53}">
                    DAY 53
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day54}">
                    DAY 54
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day55}">
                    DAY 55
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day56}">
                    DAY 56
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day57}">
                    DAY 57
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day58}">
                    DAY 58
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day59}">
                    DAY 59
                </div>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day60}">
                    DAY 60
                </span>
            </div>

            <div class="row mb-2">
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day61}">
                    DAY 61
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day62}">
                    DAY 62
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day63}">
                    DAY 63
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day64}">
                    DAY 64
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day65}">
                    DAY 65
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day66}">
                    DAY 66
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day67}">
                    DAY 67
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day68}">
                    DAY 68
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day69}">
                    DAY 69
                </div>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day70}">
                    DAY 70
                </span>
            </div>

            <div class="row mb-2">
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day71}">
                    DAY 71
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day72}">
                    DAY 72
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day73}">
                    DAY 73
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day74}">
                    DAY 74
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day75}">
                    DAY 75
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day76}">
                    DAY 76
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day77}">
                    DAY 77
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day78}">
                    DAY 78
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day79}">
                    DAY 79
                </div>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day80}">
                    DAY 80
                </span>
            </div>

            <div class="row mb-2">
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day81}">
                    DAY 81
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day82}">
                    DAY 82
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day83}">
                    DAY 83
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day84}">
                    DAY 84
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day85}">
                    DAY 85
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day86}">
                    DAY 86
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day87}">
                    DAY 87
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day88}">
                    DAY 88
                </div>
                <div class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day89}">
                    DAY 89
                </div>
                <span class="col cell-design" [ngClass]="{'cell-design-exp': curr_date >= day90}">
                    DAY 90
                </span>
            </div>

        </div>
        <!-- <div class="col-1"></div> -->
        <div class="col-2"></div>
        <div class="col-4">
            <span class="check-score">Score Points</span>

            <div style="margin-top: 6em;">
                <!-- <span class="scorepts">Score Points</span> -->
                <span class="score">
                    
                    <span *ngIf="curr_date >= day1">100</span>
                    <span *ngIf="curr_date >= day2">200</span>
                    <span *ngIf="curr_date >= day3">300</span>
                    <span *ngIf="curr_date >= day4">400</span>
                    <span *ngIf="curr_date >= day5">500</span>
                    <span *ngIf="curr_date >= day6">600</span>
                    <span *ngIf="curr_date >= day7">700</span>
                    <span *ngIf="curr_date >= day8">800</span>
                    <span *ngIf="curr_date >= day9">900</span>
                    <span *ngIf="curr_date >= day10">1000</span>
                    
                    <span *ngIf="curr_date >= day11">1100</span>
                    <span *ngIf="curr_date >= day12">1200</span>
                    <span *ngIf="curr_date >= day13">1300</span>
                    <span *ngIf="curr_date >= day14">1400</span>
                    <span *ngIf="curr_date >= day15">1500</span>
                    <span *ngIf="curr_date >= day16">1600</span>
                    <span *ngIf="curr_date >= day17">1700</span>
                    <span *ngIf="curr_date >= day18">1800</span>
                    <span *ngIf="curr_date >= day19">1900</span>
                    <span *ngIf="curr_date >= day20">2000</span>

                    <span *ngIf="curr_date >= day21">2100</span>
                    <span *ngIf="curr_date >= day22">2200</span>
                    <span *ngIf="curr_date >= day23">2300</span>
                    <span *ngIf="curr_date >= day24">2400</span>
                    <span *ngIf="curr_date >= day25">2500</span>
                    <span *ngIf="curr_date >= day26">2600</span>
                    <span *ngIf="curr_date >= day27">2700</span>
                    <span *ngIf="curr_date >= day28">2800</span>
                    <span *ngIf="curr_date >= day29">2900</span>
                    <span *ngIf="curr_date >= day30">3000</span>

                    <span *ngIf="curr_date >= day31">3100</span>
                    <span *ngIf="curr_date >= day32">3200</span>
                    <span *ngIf="curr_date >= day33">3300</span>
                    <span *ngIf="curr_date >= day34">3400</span>
                    <span *ngIf="curr_date >= day35">3500</span>
                    <span *ngIf="curr_date >= day36">3600</span>
                    <span *ngIf="curr_date >= day37">3700</span>
                    <span *ngIf="curr_date >= day38">3800</span>
                    <span *ngIf="curr_date >= day39">3900</span>
                    <span *ngIf="curr_date >= day40">4000</span>

                    <span *ngIf="curr_date >= day41">4100</span>
                    <span *ngIf="curr_date >= day42">4200</span>
                    <span *ngIf="curr_date >= day43">4300</span>
                    <span *ngIf="curr_date >= day44">4400</span>
                    <span *ngIf="curr_date >= day45">4500</span>
                    <span *ngIf="curr_date >= day46">4600</span>
                    <span *ngIf="curr_date >= day47">4700</span>
                    <span *ngIf="curr_date >= day48">4800</span>
                    <span *ngIf="curr_date >= day49">4900</span>
                    <span *ngIf="curr_date >= day50">5000</span>

                    <span *ngIf="curr_date >= day51">5100</span>
                    <span *ngIf="curr_date >= day52">5200</span>
                    <span *ngIf="curr_date >= day53">5300</span>
                    <span *ngIf="curr_date >= day54">5400</span>
                    <span *ngIf="curr_date >= day55">5500</span>
                    <span *ngIf="curr_date >= day56">5600</span>
                    <span *ngIf="curr_date >= day57">5700</span>
                    <span *ngIf="curr_date >= day58">5800</span>
                    <span *ngIf="curr_date >= day59">5900</span>
                    <span *ngIf="curr_date >= day60">6000</span>

                    <span *ngIf="curr_date >= day61">6100</span>
                    <span *ngIf="curr_date >= day62">6200</span>
                    <span *ngIf="curr_date >= day63">6300</span>
                    <span *ngIf="curr_date >= day64">6400</span>
                    <span *ngIf="curr_date >= day65">6500</span>
                    <span *ngIf="curr_date >= day66">6600</span>
                    <span *ngIf="curr_date >= day67">6700</span>
                    <span *ngIf="curr_date >= day68">6800</span>
                    <span *ngIf="curr_date >= day69">6900</span>
                    <span *ngIf="curr_date >= day70">7000</span>

                    <span *ngIf="curr_date >= day71">7100</span>
                    <span *ngIf="curr_date >= day72">7200</span>
                    <span *ngIf="curr_date >= day73">7300</span>
                    <span *ngIf="curr_date >= day74">7400</span>
                    <span *ngIf="curr_date >= day75">7500</span>
                    <span *ngIf="curr_date >= day76">7600</span>
                    <span *ngIf="curr_date >= day77">7700</span>
                    <span *ngIf="curr_date >= day78">7800</span>
                    <span *ngIf="curr_date >= day79">7900</span>
                    <span *ngIf="curr_date >= day80">8000</span>

                    <span *ngIf="curr_date >= day81">8100</span>
                    <span *ngIf="curr_date >= day82">8200</span>
                    <span *ngIf="curr_date >= day83">8300</span>
                    <span *ngIf="curr_date >= day84">8400</span>
                    <span *ngIf="curr_date >= day85">8500</span>
                    <span *ngIf="curr_date >= day86">8600</span>
                    <span *ngIf="curr_date >= day87">8700</span>
                    <span *ngIf="curr_date >= day88">8800</span>
                    <span *ngIf="curr_date >= day89">8900</span>
                    <span *ngIf="curr_date >= day90">9000</span>
                    
                    
                    <img style="width:32px;margin-left: 8px;" src="assets/Star.png" /></span>
            </div>
            <mat-card class="demo-inline-calendar-card" style="margin-top:8em ;">
                <mat-calendar [minDate]="selected" [(selected)]="selected"></mat-calendar>
            </mat-card>
        </div>

    </div>
</div>